@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: url('./images/bg-pattern-top.svg'),
    url('./images//bg-pattern-bottom.svg'), var(--dark-cyan);
  background-repeat: no-repeat;
  background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw),
    left calc(40vw + 25%) top calc(72vh - 10vw);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  max-width: 300px;
}

.card-content {
  text-align: center;
  padding-top: 20px;
}

.card-img {
  margin-top: -6rem;
  border-radius: 50%;
}

.card-img img {
  border-radius: 50%;
  border: 5px solid white;
}

.card-stats {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 0.2rem solid rgb(224, 224, 224);
}

.name {
  font-weight: 700;
  font-size: 18px;
}

.title,
span {
  color: var(--dark-gray);
}

.location {
  padding-bottom: 10px;
  padding-top: 10px;
  color: var(--dark-gray);
  font-weight: 400;
}

ul {
  list-style-type: none;
  color: var(--dark-cyan);
}
